
@{
    ViewBag.Title = "DeposerUneDemande";
}

<h2>Deposer une demande de service</h2>
<div>
    <form method="post" action="traitement">
        <label for="typeservice">Type de service : </label>
        <select name="typeservice" id="typeservice">
            <option value="courses">Courses</option>
            <option value="sortirchien">Sortir le chien</option>
        </select>
        <label for="catservice">Catégorie de service</label>
        <select name="catservice" id="catservice">
            <option value="exterieur">Extérieur</option>
            <option value="interieur">Intérieur</option>
        </select>

    </form>

</div>

