@model Pandami2.Models.DemandeService
@{
    ViewBag.Title = "DeposerUneDemande";

}

<h2>Deposer une demande de service</h2>
<form method="post" action="">
    <p>

        <label for="typeservice">Type de service : </label>
        @Html.DropDownListFor(Model => Model.IdTypeService, new SelectList(Model.ChargerListeTypeService()));
        <!--@(foreach string libelle in Model.ChargerListeTypeService(){

    })-->

        <label for="catservice">Catégorie de service : </label>
        <select name="catservice" id="catservice">
            <option value="exterieur">Extérieur</option>
            <option value="interieur">Intérieur</option>
        </select>

        <label name="besoineqm">Besoin en équipement : </label>
        <select name="besoineqm" id="besoineqm">
            <option value="voiture">Voiture</option>
            <option value="laisse">Laisse pour chien</option>
        </select>

        <label name="datereal">Date de réalisation</label>
        <input type="date" id="datereal" name="trip-start" />

        <label name="heurereal">Heure de réalisation : </label>
        <input type="time" name="heurereal" id="heurereal" />

        <label name="lieureal">Lieu de réalisation (si différent du lieu de résidence) : </label>

        <label name="numrue">N° et rue : </label>
        <input type="text" name="numrue" id="numrue" />
        <label name="cp">Code Postal : </label>
        <input type="text" name="cp" id="cp" />
        <label name="ville">Ville :</label>
        <input type="text" name="ville" id="ville" />


    </p>
</form>
