@model.Pandami2.Models.DemandeService


<div class="jumbotron text-center">

    <h2>Rechercher Une demande de service </h2>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <h3>Rechercher</h3>
            <form>
            </form>
        </div>

        <div class="col-sm-9">
            <h3>Liste des demandes de service en cours</h3>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <label>id-emmetteur</label>

                    <label>Date d'enregistrement</label>
                    <input type="text" id="date_enregistrement" name="date_enregistrement" class="form-control" value="" />
                </div>
                <div class="panel-body">


                    <form class="show">
                        <div class="row">
                            <div class="col-xs-12 col-sm-6" ">

                                <div class="form-group">
                                    <label>Type de service :</label>
                                    <input type="text" id="id_type_service" name="id_type_service" class="form-control" value="" required />




                                    <label>Date de realisation : </label>
                                    <input type="text" id="date_realisation" name="date_realisation" class="form-control" value="" required />
                                    <label>Heure de realisation: </label>
                                    <input type="text" id="heure_realisation" name="heure_realisation" class="form-control" value="" required />



                                    <label class="form-group">Adresse de realisation: </label>
                                    <input type="text" id="adresse_realisation" name="adresse_realisation" class="form-control" value="" required />
                                    <label class="form-grop">Ville de realisation: </label>
                                    <input type="text" id="id_ville" name="id_ville" class="form-control" value="" required />


                                </div>
                            </div>



                        </div>
                    </form>
                    <button> Repondre </button>





                </div>
            </div>
        </div>
        }


    </div>
</div>























