
@{
    ViewBag.Title = "RechercherUneDemande";
}

<h2>Rechercher une demande de service non pourvue</h2>

<div>
   <h3>Choix des critères</h3>
</div>

<div>
    <p>
        <table>
            <tr>
                <td>
                    <label for="typeservice">Type de service : </label>
                    
                </td>

            <tr>
                <td>
                    <label for="catservice">Catégorie de service : </label>
                    
                </td>
            </tr>
            <tr>
                <td>
                    <label name="besoineqm">Besoin en équipement : </label>
                    
                </td>
            </tr>
            <tr>
                <td>
                    <label name="datereal">Date de réalisation</label>
                    
                </td>
            </tr>
            <tr>
                <td>
                    <label name="heurereal">Heure de réalisation : </label>
                   
                </td>
            </tr>
            <tr>
                <td>
                    <label name="lieureal">Lieu de réalisation  </label>

                    <label name="numrue">N° et rue : </label>
                   
                    <label name="cp">Code Postal : </label>
                   
                    <label name="ville">Ville :</label>

                    
                    
                </td>
            </tr>
            <tr>
                <td>
                    <label name="nomutilisateur">Utilisateur à l'origine de la demande :</label>
                </td>
            </tr>
        </table>
    </p>
    <p><a class="btn btn-default" href="">Répondre à cette demande</a></p>
</div>

