
@{
    ViewBag.Title = "Profil";
}


<div class="jumbotron text-center">
    <h2>Mon profil utilisateur</h2>
</div>



<hr />

    <form class="row" id="blocprofil">
        <table id="tableprofil">

            <tr>
                <td><label> Nom : </label></td>

                <td><label> MAREJUS </label></td>
            </tr>
            <tr>
                <td><label> Prénom : </label></td>
                <td><label> Benoit </label></td>

            </tr>
            <tr>
                <td><label> Genre : </label></td>
                <td><label> Masculin</label></td>
            <tr>
            <tr>
                <td><label> Date de naissance : </label></td>
                <td><label> 06/06/1986</label></td>
            </tr>
            <tr>
                <td><label> Adresse :</label></td>
                <td><label> 21, rue Louis Braille</label></td>

            </tr>
            <tr>
                <td><label> Ville : </label></td>
                <td><label> Paris19</label></td>

            </tr>
            <tr>
                <td>
                    <label> Numero de téléphone : </label>
                </td>
                <td><label> 06.75.33.41.96 </label></td>

            </tr>
            <tr>
                <td><label>Adresse electronique : </label></td>
                <td>
                    <label> benoitmarejus@hotmail.fr</label>
                </td>
            </tr>
            <tr>
                <td><label>Date d'inscription : </label></td>
                <td> 21-01-2021 </td>
            </tr>


        </table>

    </form>
