
@{
    ViewBag.Title = "Profil";
}

<div class="jumbotron text-center" >
    <h2>Mon profil utilisateur</h2>
</div>
    <form class="row" id="blocprofil">
        <table id="tableprofil">
            <tr>
                <td><label class="lbl3"> Nom : </label></td>
                <td><label class="lbl3"> MAREJUS </label></td>
            </tr>
            <tr>
                <td><label class="lbl3"> Prénom : </label></td>
                <td><label class="lbl3"> Benoit </label></td>
            </tr>
            <tr>
                <td><label class="lbl3"> Genre : </label></td>
                <td><label class="lbl3"> Masculin</label></td>
            <tr>
            <tr>
                <td><label class="lbl3"> Date de naissance : </label></td>
                <td><label class="lbl3"> 06/06/1986</label></td>
            </tr>
            <tr>
                <td><label class="lbl3"> Adresse :</label></td>
                <td><label class="lbl3"> 21, rue Louis Braille</label></td>
            </tr>
            <tr>
                <td><label class="lbl3"> Ville : </label></td>
                <td><label class="lbl3"> Paris 19</label></td>
            </tr>
            <tr>
                <td><label class="lbl3"> Numero de téléphone : </label> </td>
                <td><label class="lbl3"> 06.75.33.41.96 </label></td>
            </tr>
            <tr>
                <td><label class="lbl3">Adresse electronique : </label></td>
                <td><label class="lbl3"> benoitmarejus@hotmail.fr</label></td>
            </tr>
            <tr>
                <td><label class="lbl3">Date d'inscription : </label></td>
                <td class="lbl3"> 21-01-2021 </td>
            </tr>
        </table>
    </form>
    